/* TYPOGRAPHY */
p, li {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: rgba(74, 74, 74, .9);
  /* line-height: 1.8em; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
  color: rgba(255, 90, 110, 1);
}

h6 {
  color: rgba(255, 90, 110, 1);
  text-transform: uppercase;
  margin-top: 0em;
  font-size: 0.9em;
}

h2.tagline {
  font-size: 2.4em;
  font-weight: bold;
}

.social-links a:link, nav a:link {
  color: rgba(74, 74, 74, .6);
}

.social-links a:visited, nav a:visited {
  color: rgba(74, 74, 74, .6);
}

a:link, a:visited {
  border-bottom: 1px dotted rgba(74, 74, 74, .4);
  /* color: rgba(74, 74, 74, .8); */
  color: rgba(255, 90, 110, 1);
}

h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited {
  border-bottom: none;
}

a:hover {
  color: rgba(74, 74, 74, .6);
  /* color: rgba(248, 210, 16, 1); */
}

nav a:link, .social-links a:link {
  border-bottom: none;
}

/* FRONT-PAGE */
div.front-page-info {
  padding-top: 3em;
}

div.front-page-info-block {
  margin-top: 2em;
}

img.front-page-headshot {
  height: 500px;
  position: absolute;
  bottom: -100px;
  right: 20px;
  z-index: -1;
}
small.date {
  margin-right: 1em;
}

.social-links li {
  display: inline-block;
}

/* FOOTER */

footer {
  margin-top: 2em;
  background-color: rgba(25, 179, 177, 1);
}

footer .subscriber-input {
  margin-top: .8em;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright p {
  font-size: 14px;
}

.revue-subscribe form {
  margin-bottom: .6em;
}

/* HEADER */

.home-logo {
  background-color: rgba(255, 90, 110, 1);
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-logo h4 {
  color: white;
  font-weight: bold;
  max-width: 50%;
  margin-top: 0em;
}

.home-logo h4 a:link, .home-logo h4 a:visited {
  color: white;
  border-bottom: none;
}
.home-logo h4 a:hover {
  color: rgba(248, 210, 16, 1)
}

nav li {
  display: inline-block;
}

.primary-nav {
  margin-top: 1em;
}

header {
  display: flex;
  justify-content: flex-end;
}

/* SINGLE-PAGE POST */

.content-area p {
  margin-bottom: 1em;
}

.content-area p:nth-child(1) {
  /* font-size: 1.3em; */
  font-weight: bold;
}

.content-area p, .content-area li {
  font-size: 1.3em;
  line-height: 1.4em;
}

.content-area ul, .content-area ol {
  list-style: square inside;
  line-height: 1em;
}

.content-area img {
  margin: 1em 0;
}

.post {
  padding: 0 2em;
}

.post-meta-info {
  margin-top: 38.4px;
}

.post-meta-info h6 a:link {
  border-bottom: none;
  color: rgba(255, 90, 110, 1);
}
.post-meta-info h6 a:unvisited {
  border-bottom: none;
}

/* ARCHIVE */

h2.archive-page {
  margin-top: 0em;
}

.archive-block {
  /* border: 1px solid black; */
  /* padding: 0em; */
}

.archive-block a {
  border-bottom: none;
}

.archive-block small {
  font-size: 0.8em;
}

/* PAGES */

.additional-info p {
  font-size: 1em;
}

a.img-link {
  border-bottom: none;
}

.image-container {
  display: flex;
  align-items: center;
}
